<h1>Olá {{nome}},</h1>

<p>Você solicitou a recuperação de senha da sua conta no RepoTEC em <b>{{dataSolicitacao}}</b>.</p>

<p>Para redefinir sua senha, clique no link abaixo:</p>

<p><a href="{{resetLink}}">{{resetLink}}</a></p>

<p>Este link é válido por 1 hora.</p>

<p>Se você não solicitou a recuperação de senha, por favor ignore este email.</p>

<p>Atenciosamente,<br>Equipe RepoTEC</p> 