<h1>Bem-vindo(a) ao RepoTEC, {{nome}}!</h1>

<p>Olá {{nome}},</p>

<p>Seja bem-vindo(a) ao RepoTEC! Estamos muito felizes em ter você conosco.</p>

<p>O RepoTEC é uma plataforma para compartilhamento de projetos técnicos, onde você pode:</p>
<ul>
  <li>Explorar projetos de outros usuários</li>
  <li>Aprender com a comunidade</li>
</ul>

<p>Para começar a usar a plataforma, acesse o link abaixo:</p>

<p><a href="{{frontendUrl}}">Acessar o RepoTEC</a></p>


<p>Atenciosamente,<br>Equipe RepoTEC</p> 